* {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

@media (min-width: 801px) {
  div.MainVideo {
    width: 100%;
    position: absolute;
    top: 0;

    video {
      width: 100%;
      height: 100%;
    }

    // a.active {
    //   background: red;
    // }
  }


  // div.mobile-gnb {
  //   display: none;
  // }
}